*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.nav-container{
    background-color: white;
    height: 15vh;
}
nav{

    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: space-between;
    
}